@import "quasar.variables.scss"; 
@import "tokens.scss" ; 
@import "colors.module.scss";

.body.body--dark {
    background: $color-background-dark;
} 

.small-screen-only {
    @media (max-width: $breakpoint-xs-max) {
        display: block 
    }
    @media (max-width: $breakpoint-sm-min) {
        display: none
    }
        
}
.large-screen-only {
    @media (max-width: $breakpoint-xs-max) {
        display: block
    }
    @media (max-width: $breakpoint-sm-min) {
        display: none 
    }
}
    
        
    
