@import "quasar.variables.scss";

.primary {
  background-color: $q-primary;
}
.primary-text {
  color: $q-primary;
}
.on-primary {
  background-color: $q-primary;
}
.on-primary-text {
  color: $q-primary;
}
.primary-container {
  background-color: $color-primary-container-light;
}
.primary-container-text {
  color: $color-primary-container-light;
}
.on-primary-container {
  background-color: $color-on-primary-container-light;
}
.on-primary-container-text {
  color: $color-on-primary-container-light;
}
.secondary {
  background-color: $q-secondary;
}
.secondary-text {
  color: $q-secondary;
}
.on-secondary {
  background-color: $color-on-secondary-light;
}
.on-secondary-text {
  color: $color-on-secondary-light;
}
.secondary-container {
  background-color: $color-secondary-container-light;
}
.secondary-container-text {
  color: $color-secondary-container-light;
}
.on-secondary-container {
  background-color: $color-on-secondary-container-light;
}
.on-secondary-container-text {
  color: $color-on-secondary-container-light;
}
.tertiary {
  background-color: $color-tertiary-light;
}
.tertiary-text {
  color: $color-tertiary-light;
}
.on-tertiary {
  background-color: $color-on-tertiary-light;
}
.on-tertiary-text {
  color: $color-on-tertiary-light;
}
.tertiary-container {
  background-color: $color-tertiary-container-light;
}
.tertiary-container-text {
  color: $color-tertiary-container-light;
}
.on-tertiary-container {
  background-color: $color-on-tertiary-container-light;
}
.on-tertiary-container-text {
  color: $color-on-tertiary-container-light;
}
.error {
  background-color: $q-negative;
}
.error-text {
  color: $q-negative;
}
.error-container {
  background-color: $color-error-container-light;
}
.error-container-text {
  color: $color-error-container-light;
}
.on-error {
  background-color: $color-on-error-light;
}
.on-error-text {
  color: $color-on-error-light;
}
.on-error-container {
  background-color: $color-on-error-container-light;
}
.on-error-container-text {
  color: $color-on-error-container-light;
}
.background {
  background-color: $color-background-light;
}
.background-text {
  color: $color-background-light;
}
.on-background {
  background-color: $color-on-background-light;
}
.on-background-text {
  color: $color-on-background-light;
}
.surface {
  background-color: $color-surface-light;
}
.surface-text {
  color: $color-surface-light;
}
.on-surface {
  background-color: $color-on-surface-light;
}
.on-surface-text {
  color: $color-on-surface-light;
}
.surface-variant {
  background-color: $color-surface-variant-light;
}
.surface-variant-text {
  color: $color-surface-variant-light;
}
.on-surface-variant {
  background-color: $color-on-surface-variant-light;
}
.on-surface-variant-text {
  color: $color-on-surface-variant-light;
}
.outline {
  background-color: $color-outline-light;
}
.outline-text {
  color: $color-outline-light;
}
.inverse-on-surface {
  background-color: $color-inverse-on-surface-light;
}
.inverse-on-surface-text {
  color: $color-inverse-on-surface-light;
}
.inverse-surface {
  background-color: $color-inverse-surface-light;
}
.inverse-surface-text {
  color: $color-inverse-surface-light;
}
.inverse-primary {
  background-color: $color-inverse-primary-light;
}
.inverse-primary-text {
  color: $color-inverse-primary-light;
}
.shadow {
  background-color: $color-shadow-light;
}
.shadow-text {
  color: $color-shadow-light;
}
.surface-tint {
  background-color: $color-surface-tint-light;
}
.surface-tint-text {
  color: $color-surface-tint-light;
}
.outline-variant {
  background-color: $color-outline-variant-light;
}
.outline-variant-text {
  color: $color-outline-variant-light;
}
.scrim {
  background-color: $color-scrim-light;
}
.scrim-text {
  color: $color-scrim-light;
}
